* {
  box-sizing: border-box;
}

body {
  background-color: #202124;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
  margin-top: 1rem;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  display: flex;
  padding-right: 1rem;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

nav .nav-right-section a {
  margin-right: 10px;
  color: #fff;
}

nav .nav-right-section .menu-icon {
  padding-left: 0.5rem;
  padding-right: 0.9rem;
}

nav .nav-right-section li img {
  width: 1.5rem;
  display: inline-block;
  margin-top: .3rem;
  filter: invert(1);
}

nav .nav-right-section .btn-sesion {
  background: #8ab4f8;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: .3rem;
  width: 100%;
  text-align: center;
  font-size: .9rem;
}

main {
  margin-top: 7rem;
  text-align: center;
}

main .main-logo {
  width: 272px;
  height: 92px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main-input-container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #5f6368;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-input input {
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #e8eaed;
}

main .main-input-container:hover {
  background-color: #303134;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223,225,229,0);
}

main .main-input input:hover {
  background-color: #303134;
}

main .main-input .search-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  filter: invert(.5);
}

main .main-input .micro-icon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

main .main-buttons {
  width: 530px;
  margin: 0 auto;
}

main .main-buttons div {
  display: inline-block;
}

main .main-buttons button {
  height: 36px;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

main .main-buttons button:hover {
  box-shadow: 0 1px 3px rgb(23 23 23 / 24%);
  background-color: #303134;
  border: 1px solid #5f6368;
  color: #e8eaed;
}